@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap");

.audio-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  justify-self: center;

  align-items: center;
  justify-content: center;

  min-width: 25rem;
  min-height: 15rem;

  background-color: rgb(223, 181, 181);
  /* padding: 3rem 5rem 8rem; */
  padding: min(5rem, 8%);
  border-radius: 1rem;
  font-family: "Silkscreen", sans-serif;
}

.song-image {
  width: 100%;
  max-width: 20rem;

  height: auto;
  max-height: 20rem;
  border-radius: 10%;
  object-fit: cover;
  -webkit-box-shadow: 0px 12px 20px -1px rgba(97, 97, 97, 0.47);
  -moz-box-shadow: 0px 12px 20px -1px rgba(97, 97, 97, 0.47);
  box-shadow: 0px 12px 20px -1px rgba(97, 97, 97, 0.47);
}

.song-name {
  width: 15rem;
  margin: 3rem 0 0.5rem 0;

  font-size: 1.5rem;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.artist-name {
  margin: 0 0 2rem 0;
}

.progress-bar {
  width: 75%;
  height: 1rem;
  color: white;
}

.timer {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-evenly;

  width: 75%;
}

.button-container button {
 display: flex;
align-items: center;
justify-content: center;

  border-radius: 50%;

  width: 3rem;
  height: 3rem;
}
